# dir
/src/
/local/
/__tests__/
/dist/
/node_modules/
/coverage
/examples

# files
browser.ts

# system temp file
.DS_Store

# vscode config
.vscode

# package
yarn.lock
yarn-error.log
package-lock.json

# tools
.travis.yml
.husky/

# config files
webpack.config.js
jest.config.js
.prettierrc.js
.eslintrc.js
